.head1{
    background-color: rgb(218, 252, 223);
    font-weight: 600;
    border: 2px solid black;
    border-radius: 10px;
    margin: 1px 5px 12px 1px;
    text-align: center;
    width: 100%;
  }

  .head2{
    background-color: rgb(216, 208, 255);
    font-weight: 600;
    border: 2px solid black;
    border-radius: 10px;
    margin: 1px 5px 12px 1px;
    text-align: center;
    width: 100%;
  }