.container{

    width: 60%;
    margin: 10px;
    min-width: 380px;
    border-radius: 10px;
    border: 3px double #000000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(225, 225, 255);
    padding: 10px;
}